body {
	background-size: 14px 14px;
	background-image: linear-gradient(to right, #e0e3e3 1px, transparent 1px), linear-gradient(to bottom, #e0e3e3 1px, transparent 1px);
	background-color: #f1f4f5;

	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333333;

	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 0px;
}
header {
	background-color: #666699;
	margin: 0px;
	padding: 5px 10px;
}
header h1 a, header h1 a:hover, header h1 a:focus, header h1 a:active {
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	text-decoration: none;
}
.content .box {
	width: 400px;
	height: 150px;

	margin: 0px;
	padding: 20px;

	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 7px rgba(0,0,0,.15);
}
footer {
	margin: 0px;
	padding: 5px;
	text-align: center;
}
footer a, footer a:hover, footer a:focus, footer a:active {
	color: #6699cc;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

/* forms ***************************************************************/
.box-group button, .box-group input, .box-group textarea, .box-group select {
	padding: 5px;
	font-size: 12px;
	color: #333333;

	margin: 5px;
	border-radius: 5px;
}
.box-group label {
	padding-top: 5px;
}
.box-actions {
	text-align: right;
}
/************************************************************************
header {
	text-align: center;
	border: 1px solid #e0e3e3;
	background-color: #ffffff;
}
h1 {
	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	color: #000000;
	font-weight: 100;
}
h4 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 16px;
	margin-top: 16px;
}
.navbar-default {
    background-color: #666699;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-bottom {
	margin-right: 10px;
}
.navbar-bottom .btn {
	margin-top: 8px;
}
label {
	font-weight: 100;
	min-width: 10%;
	vertical-align: top;
}
textarea {
	min-width: 80%;
}
.form-control {
	display: inline;
	width: auto;
	font-size: 12px;
}

ul.nav-links.nav-pills {
    background-color: #f0ad4e;
    border-radius: 0px 0px 0px 5px;
    margin: -15px;
}
.nav-links>li>a {
	color: #ffffff;
	padding: 5px 10px;
}
.nav-links>li>a:focus, .nav-links>li>a:hover {
	background-color: #ec971f;
}



#content {
	margin-top: 70px;
}

************************************************************************/